/*Navbar Style*/

.header {
  background: white;
  box-shadow: 0 4px 8px #F7F8F8, 0 4px 8px #f2f3f3;
}

.menuItem {
  float: right;
}

.landingTop {
  display: flex;
  justify-content: center;
  margin: 30px 40px;
}
