@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$background-color: #131313;
$card-color: #1B1B1B;
$white: #fff;
$gray: #9b9b9b;
$primary: #1890FF;

body {
  font-family: 'Lato', sans-serif;
  background: $background-color;
  color: white;
  font-size: 16px;
  padding-bottom: 100px;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 35px;
}

h2, h3 {
  color: white;
}

.navbar {
  background: $card-color;
  color: white;
  border-style: none;

  .menuItem {
    float: right;
  }
}

.landingBanner {
  margin: 80px 14% 30px;
}

.landingImg {
  float: right;
}

.header {
  background: $card-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainText {
  font-size: 20px;
  margin-top: 10px;
}

.downloadIcons {
  display: flex;
  justify-content: space-around;
  img {
    cursor: pointer;
  }
}

.joinOpinionDiv {
  margin-top: 140px;
  div {
    font-size: 14px;
  }
}

.writeToUsDiv {
  margin-top: 140px;
}

.footer {
  background: $card-color;
  margin-top: 140px;
  padding: 50px 0 80px 0 !important;
  display: flex;
  justify-content: space-around;
}

.appLogin {
  .loginForm {
    margin: 100px 30px 40px;
  }

  div:last-child.text-center {
    color: #bcbcbc;
    span {
      cursor: pointer;
      color: #1890FF;
      &:hover {
        text-decoration: underline;
        color: #0f7bdd;
      }
    }
  }
}

.loginForm {
  background: $card-color;
  padding: 20px 30px 40px;
  .rememberMeDiv {
    display: flex;
    justify-content: space-between;
    color: #d2d1d1;
    input[type="checkbox"] {
      height: 15px;
      width: 15px;
    }
  }

  hr {
    border: 0;
    margin: 0;
    width: 100%;
    height: 2px;
    background: #575757;
  }

  .lineDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $gray;
  }

  .iconGroupDiv {
    margin-top: 30px;
    text-align: center;
    Button {
      margin-right: 10px;
      background: white;
      height: 51px;
      padding: 0;
    }
  }
}

.styledInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  color: $white;
  padding: 7px 0;
  background: transparent;
  &:focus {
    border-color: $primary;
    transition: border-color 0.4s;
  }
}

.userIcons {
  display: flex;
  color: white;
  align-items: center;
  .icon:hover {
    color: #cbc9c9 !important;
  }
  div * {
    margin-right: 25px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.dropdown * {
  color: white !important;
  background-color: $card-color;
  &:hover {
    background-color: #575757 !important;
  }
}

.searchInput {
  width: 50%;
}

.topBarCard {
  background: $card-color;
  padding: 20px 30px;
  ul {
    padding: 0;
    li {
      list-style: none;
      cursor: pointer;
      line-height: 30px;
      &:hover {
        text-decoration: underline;
        color: #cbc9c9;
      }
    }
  }
  .rightDiv {
    margin: 40px;
  }
}

// Dashboard
.mainPageDiv {
  margin: 30px 10%;
}

.carousel {
  height: 90%;
  img {
    width: 100%;
    height: 400px;
  }
}

