@import 'variables';

.card {
  padding: 20px 30px;
  background: $card-color;
}

.ant-btn-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.commenterPix {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.commentDiv {
  .rate {
    font-size: 15px;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    div:nth-child(1) {
      display: flex;
      img {
        margin-right: 10px;
      }
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
  hr {
    background: $gray;
  }
  .reactionCount {
    display: flex;
    div {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}

.ellipses,
.reaction {
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    color: $primary;
  }
}

.deleteMenu {
  color: $danger;
}

.reactionIcon {
  margin: 5px 10px;
  cursor: pointer;
  &:hover {
    height: 22px;
    width: 22px;
  }
}

.quill {
  background: $card-color;
  border-color: $card-color;
  color: white !important;
  height: 40vh !important;
  &::placeholder {
    color: white !important;
  }
  .ql-snow.ql-toolbar {
    display: block;
    color: white !important;
    background: $card-color;
  }
}

.hyperlinks {
  display: flex;
  justify-content: space-between;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #777;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
