.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}

.mx-1 {
    margin: 0 10px;
}

.mx-2 {
    margin: 0 20px;
}

.mx-3 {
    margin: 0 30px;
}

.mx-4 {
    margin: 0 40px;
}

.mx-5 {
    margin: 0 50px;
}

.my-1 {
    margin: 10px 0;
}

.my-2 {
    margin: 20px 0;
}

.my-3 {
    margin: 30px 0;
}

.my-4 {
    margin: 40px 0;
}

.my-5 {
    margin: 50px 0;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-5 {
    padding: 50px;
}

.px-1 {
    padding: 0 10px;
}

.px-2 {
    padding: 0 20px;
}

.px-3 {
    padding: 0 30px;
}

.px-4 {
    padding: 0 40px;
}

.px-5 {
    padding: 0 50px;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.py-4 {
    padding: 40px 0;
}

.py-5 {
    padding: 50px 0;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}
